:root{
    --ddColor: #ddd;
}
.contact_container{
    padding: 50px;
    width: 100%;
}
.first_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.first_content_left{
   float: left; 
   padding-right: 50px;
}
.first_content_left > p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.first_content_right{
    float: right;
    background-color: aqua;
    width: 50%;
}
.first_content_right > p{
    font-weight: 500;
    font-size: 30px;
}
.first_content_right > label{
    text-transform: uppercase;
    padding-top: 100px;
}
.first_content_right > input, textarea{
    width: 100%;
    padding: 12px 10px;
    border: 1px solid var(--ddColor);
}
.first_content_right > textarea{
    height: 100px;
}
.second_container{

}
.divider{
    width: 50px;
    height: 2px;
    background-color: var(--headColor);
    margin: 10px 0;
}