.jewelry_content{
    width: 33.33%;
    display: inline-block;
    padding: 5px;
}
.jewelry_content > *{
    display: block;
}
.jewelry_content > label{
    text-transform: capitalize;
    margin: 5px 0;
}
.jewelry_content > input{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px 10px;
}
.jewelry_images > *{
    display: block;
}
.jewelry_images > label{
    text-transform: capitalize;
    margin: 5px 0;
}
.jewelry_images > input{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px 10px;
}
.jewelry_buttons{
    width: 500px;
    margin: 10px auto 0 auto;
}
.jewelry_buttons > button{
    width: 45%;
    display: inline-block;
    cursor: pointer;
    padding: 12px 0;
    text-align: center;
    text-transform: capitalize;
    margin: 0 5px;
}
.jewelry_buttons > button:not(:first-child){
    border: 1px solid #ec920b;
    background-color: #fff;
}
.jewelry_buttons > button:not(:first-child):hover{
    background-color: #ec920b;
}
.jewelry_buttons > button:not(:first-child):active{
    transform: translateY(-3px);
}