:root{
    --ddColor: #ddd;
    --whiteColor: #fff;
    --headColor: #ec920b;
    --blackColor: #000;
}
.divider{
    width: 50px;
    height: 2px;
    background-color: var(--headColor);
    margin: 10px 0;
}
.signup_content{
    background-color: var(--blackColor);
    text-transform: capitalize;
    overflow: auto;
    padding: 20px 30px;
}
.signup_content > ul a{
    color: var(--whiteColor);
}
.signup_content > ul li .arrow_right::after{
    content: ' \203A';
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: bold;
}
.signup_container > section > section:not(:first-child) > .left_content > h3, section .right_content > form > * h3{
    font-size: 20px;
    font-weight: bold;
}
.signup_content ul{
    list-style-type: none;
}
.signup_content ul li{
    float: left;
}
.signup_content ul li:not(:first-child){
    float: right;
}

.signup_container > section:not(:first-child){
    margin-top: 50px;
    padding: 0 20px 20px 20px;
    display: flex;
}
.left_content, .right_content{
    margin: 0 10px 10px 10px;
}

.left_content > h3{
    text-transform: uppercase;
    font-weight: bold;
}
.right_content{
    text-transform: uppercase;
    background-color: var(--ddColor);
    width: 82.6%;
}
.right_content > form .user_form{
    display: block;
    padding: 5px 10px;
}
.right_content > form .user_entry{
    display: inline-block;
    width: 33.33%;
    padding: 0 10px;
}
.right_content > form .user_entry input, .user_entry select{
    border: 1px solid var(--ddColor);
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
}
.bottom_container button{
    width: 10%;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--ddColor);
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px;
}
.bottom_container button:first-child{
    border: 1px solid var(--headColor);
}