:root{
    --ddColor: #ddd;
    --headColor: #ec920b;
    --registerColor :#00879194;
}
.signin_container{
    width: 500px;
    margin: 0px auto;
    padding: 100px 0;
}
.signin_content{
    border: 1px solid var(--ddColor);
    border-radius: 4px;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
}
.signin_content > .signin_header{
    background-color: var(--headColor);
    padding: 20px 15px;
    text-transform: capitalize;
}
.signin_body {
    padding: 10px;
}
.signin_body > .signin_form > label, input{
    display: inline-block;
}
.signin_body > .signin_form label{
    margin: 10px 0;
    text-transform: capitalize;
}
.signin_body > .signin_form input{
    width: 100%;
    padding: 12px 10px;
    border: 1px solid var(--ddColor);
    border-radius: 4px;
}
.signin_body > .signin_form > .signin_action > button{
    display: block;
}
.signin_body > .signin_form > .signin_action > button{
    width: 200px;
    text-transform: capitalize;
    padding: 12px 0;
    border: 1px solid var(--ddColor);
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto 0 auto;
}
.signin_body > .signin_form > div > button:hover{
    background-color: var(--ddColor);
}
.signin_body > .signin_form > button:active{
    transform: translateY(-3px);
}
.signin_body > .signin_form > .signin_action{
    text-align: center;
    margin: 10px 0;
}
.signin_body > .signin_form > .signin_action a{
    color: var(--registerColor);
    text-transform: lowercase;
    font-weight: normal;
}