.jewelry_container {
    width: 33%;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    margin-left: 3px;
    position: relative;
}
.jewelry_body {
    display: block;
    padding: 5px 10px;
}
.jewelry_header {
    display: block;
}
.jewelry_header > img {
    width: 100px;
    height: 100px;
}
