.certainprop_card_container {
    position: relative;
    background-color: var(--whiteColor);
    border: 1px solid var(--ddColor);
    border-radius: 3px;
    width: 500px;
    margin: 0 auto;
    z-index: -1;
}
.certain_body {
    width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
.certain_body > p {
    margin: 5px 0;
    background:var(--ddColor);
    border-radius:6px 0 0 6px;
    cursor:pointer;
    font-size:0.876rem;
    height:31px;
    line-height:31px;
    margin-right:2rem;
    padding:0 0.667rem;
    position:relative;
}
.certain_body >p::after {
    background:inherit;
    border-radius:6px;
    display:block;
    content:"";
    height:25px;
    position:absolute;
    right:-24px;
    top:-3px;
    transform-origin:top left;
    transform:rotate(46deg);
    width:25px;
    z-index:-2;
}
.certain_body > input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--ddColor);
    border-radius: 3px;
    z-index: 100;
}
.certain_body > input:last-child {
    margin-bottom: 10px;
}
.certain_body > button {
    width: 50%;
    margin-bottom: 10px;
    border-radius: 100px;
    text-transform: capitalize;
    font-weight: 500px;
}
.certain_body > button:hover:nth-child(odd) {
    background-color: #04c27d;
    box-shadow: 0 5px 3px var(--ddColor);
}
.certain_body > button:hover:nth-child(even) {
    background-color: var(--sysColor);
    box-shadow: 0 5px 3px var(--ddColor);
}
.certain_body > button:active {
    transform: translateY(-3px);
}